[Desktop Entry]
Name=Cervecera VGB
Comment=Asistente cervecero de escritorio
Exec=AppRun
Icon=cervecera-vgb
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=Cervecera_VGB
